.App-logo {
    height: 35vmin;
    pointer-events: none;
  }
  
  .App header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5% 0 10%;
  }

  .clock-base {
    position: relative;
    height: 30vmin;
    width: 30vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../imgs/clock_base.svg');
  }
  
  .clock-base > div {
    top: 50%;
    left: 50%;
    position: absolute;
    transform-origin: center left;
  }
  
  .second-line {
    background-color: #9b6dbf;
    height: 1px;
    margin-left: -1px;
    width: 36%;
    transform: rotate(120deg);
  }
  .minute-line {
    background-color: #9b6dbf;
    height: 4px;
    margin-left: -1px;
    width: 34%;
    transform: rotate(270deg);
  }
  .hour-line {
    background-color: #633585;
    height: 6px;
    margin-left: -3px;
    width: 20%;
    transform: rotate(0deg);
  }

  @media (orientation: portrait){
    .App header {
      justify-content: center;
    }
  
    .App-logo {
      height: 25vmin;
    }
    
    .clock-base {
      display: none;
    }

  }